<?xml version="1.0" encoding="utf-8" ?>
<database>
  <collection>
    <id>faq</id>
    <entries>
      <entry>
        <id>fact</id>
        <title>Example Fact</title>
        <keywords>example fact</keywords>
        <url></url>
        <body><![CDATA[This is an example fact]]></body>
      </entry>
    </entries>
  </collection>
</database>
